* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #191a1b;
}

body, .quote-input {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    padding: 0rem 3rem 0rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2d31;
    width: 100%;
    height: 9vh;
    position: absolute;
}

.logo {
    color: #3e6c81;
    font-size: 2.5rem;
    cursor: pointer;
}

.nav-container {
    display: flex;
    width: 25vh;
    justify-content: space-evenly;
}

.nav-container > div {
    color: white;
}

.container {
    background-color: transparent;
    padding: 1rem;
    border-radius: .5rem;
    width: 900px;
    max-width: 90%;
    height: auto;
    position: relative;
    display: block;
}

.scoreboard {
    display: none;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 1rem;
    border-radius: .5rem;
    width: 900px;
    max-width: 90%;
    height: 200px;
    position: relative;
}

.scoreboard > div {
    cursor: pointer;
    background-color: #3e6c81;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.637);
    transition: all 0.2s;
    position: relative;
}

.scoreboard > div:hover {
    transform: translateY(-5px);  
    box-shadow: 0 5px 20px 3px rgba(255, 255, 255, 0.151);
}

.scoreboard > h1 {
    position: absolute;
    top: -60px;
    color: #3e6c81;
}

.timer {
    font-size: 2.5rem;
    top: 10px;
    width: 95%;
    height: 95%;
    text-align: right;
    position: absolute;
    color: #63a9cabd;
    font-weight: 500;
    display: none;
}

.title-score {
    color: #61697ace;
    font-size: 1.3rem;
    top: -30px;
    position: absolute;
}

.quote-display {
    color: rgba(255, 255, 255, 0.384);
    font-size: 1.9rem;
    user-select: none;
    margin: 0px calc(1rem - 2px) 1rem calc(1rem - 2px);
}

.quote-input {
    background-color: rgba(255, 255, 255, 0.116);
    cursor: pointer;
    border: 1px solid #191a1b;
    outline: none;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    margin: auto;
    resize: none;
    color: transparent;
    padding: .5rem 1rem;
    transition: all 0.25s;
    text-decoration: none !important;
    user-select: none;
}

.quote-input:focus{
    background-color: transparent;
    text-decoration: none !important;
    width: 0px;
}

.focus {
    top: 50%;
    right: 29.5%;
    position: absolute;
    display: none;
}

.correct {
    color: #63aaca;;
}

.incorrect {
    color: rgba(255, 0, 0, 0.664);
}

.logo-container {
    column-gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-hover:hover {
    color: rgba(255, 255, 255, 0.63);
}

.fa-hover-blue:hover {
    color: #63aaca;
}

a {
    color: rgba(255, 255, 255, 0.397);
    cursor: pointer;
}

#restart {
    top: 66%;
    position: absolute;
}

.race-speed {
    padding: 10px;
    color: rgba(255, 255, 255, 0.384);
    width: 150px;
    height: auto;
    font-size: 1.5rem;
}

.race-speed > span {
    cursor: pointer;
}

